$themes : (winter: (backgroundColour: #071618,
        textColour: #f8fcfb,
        primary: #4fb0a5,
        secondary: #b4a44b,
        accent: #d482c4,
    ),
    dark: (backgroundColour: #e7f6f8,
        textColour: #030706,
        primary: #4fb0a5,
        secondary: #b4a44b,
        accent: #7d2b6d,
    )) // @mixin themed-style()

$backgroundColour: #071618;
$textColour: #f8fcfb;
$primary: #4fb0a5;
$secondary: #b4a44b;
$accent: #d482c4;

// .summer {
//     @include color-scheme(#783912,#e0fffd,#f3f353,#cbf1e1,#36213b)
// }

// .spring {
//     @include color-scheme(#2e3b0d,#fffae9,#b6cd48,#b5e193,#abd565)
// }

// .autumn {
//     @include color-scheme(#7b1919,#fcf3f3,#450c0c,#e1d1a8,#3cfb62)
// }

// .winter {
//     @include color-scheme(#071618,#f8fcfb,#4fb0a5,#b4a44b,#d482c4)
// }